html {
  background-color: #E5E5E5;
  font-family: 'Exo', sans-serif !important;
  font-size: 13px;
}
body {
  background-color: #E5E5E5;
  font-family: 'Exo', sans-serif !important;
  color: #303030;
}
@media (max-width: 575.98px) {
  html {
    font-size: 5px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 7px;
  }
}
@media (min-width: 768px) and (max-width: 994.98px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 995px) and (max-width: 1200.98px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 18px;
  }
}