html {
  background-color: #E5E5E5;
  font-family: 'Exo', sans-serif !important;
  font-size: 16px;
}
body {
  background-color: #E5E5E5;
  font-family: 'Exo', sans-serif !important;
  color: #303030;
}
.btn {
  margin: 0.5rem;
}
@media (max-width: 575.98px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .blogcontent {
    width: 100% !important;
    float: none;
    text-align: center;
  }
  .sidecontent {
    width: 100% !important;
    float: none;
    text-align: center;
  }
  /* ===> HEADER <===*/
  .logo {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
  #search-social {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    padding-top: 0 !important;
    margin: 0 !important;
  }
  #searchbar,
  #social-icons {
    display: inline-block;
    float: none;
  }
  .cardb {
    text-align: left !important;
    padding-bottom: 0 !important;
  }
  .cardb h3,
  .cardb p,
  .cardb a {
    margin-top: 1rem;
  }
  .textdiv {
    text-align: left;
  }
  aside {
    padding-left: 1rem;
    text-align: left !important;
  }
  aside ul {
    text-align: left !important;
  }
  aside ul li {
    text-align: left !important;
  }
}
@media (max-width: 768px) {
  #search-social {
    text-align: center;
  }
  #searchbar,
  #social-icons {
    display: block !important;
    width: 100%;
  }
  #searchbar ul,
  #social-icons ul,
  #searchbar form,
  #social-icons form {
    display: inline-block !important;
  }
}
@media (max-width: 575.98px) {
  .contentimg,
  .contenttext {
    width: 100% !important;
    float: none !important;
    margin-left: 0 !important;
    padding: 1.2rem !important;
  }
}
